<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="./favicon.ico">
  
  <!-- CDN 样式 -->
  <% if (cdnStyles) { %>
    <%- cdnStyles %>
  <% } %>
  
  <!-- CDN 脚本必须在 head 中先加载 -->
  <% if (cdnScripts) { %>
    <%- cdnScripts %>
  <% } %>
</head>

<body>
  <div id="app">
    <% if (loadingHtml) { %>
      <%- loadingHtml %>
    <% } %>
  </div>
  
  <script defer type="module" src="/src/main"></script>
</body>

</html>
