html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	/*border:0;
	*/
    /*outline:0;
	*/
    /*font-size:100%;
	vertical-align:baseline;
	background:transparent;
	*/
}
h1,h2,h3,h4,h5,h6,em,i {
	font-weight:100;
	font-style:normal;
}
ul,ol,li {
	list-style-type:none;
}
a {
	color:#ed9428;
	text-decoration:none;
	outline:0;
}
a:hover {
	text-decoration:none;
}
li {
    list-style:none;
}
img {
    border:0;vertical-align:middle;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
p {
    word-wrap:break-word;
}

/* 公共样式 */
.clearfix:after{
  display:block;
  clear:both;
  content:"";
  visibility:hidden; 
  height:0;
} 
.clearfix{zoom:1}
.l{
    float: left;
}
.r{
    float: right;
}
.f14{
  font-size: 14px;
}
.f16{
  font-size: 16px;
}
.color{
  color:#ed9428;
}
.red{
  color: red;;
}
.f12{
  font-size: 12px;
}
.fb{
  font-weight: bolder;
}